{% extends "personal/header.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
{% if title %}
<div class="row" >
		<div class="col-sm-6 col-md-6 col-xs-12 col-sm-offset-2 color_white" > 
			<h1 class="lead color_white col-sm-offset-2">{{ title }}</h1>
		</div>	
</div>
{% endif %}
<div class="col-sm-6 col-md-6 col-xs-12 col-sm-offset-2 color_white">
	<form method="POST" >{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" class="btn btn-primary"  value='Submit'/>
	</form>
</div>


{% endblock %}