{% extends "personal/header.html" %}
{% load crispy_forms_tags %}

{% load staticfiles %}

{% block title %}
Welcome | 
{% endblock %}


{% block navbar %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          		<ul class="nav navbar-nav navbar-left">
            		<li class="dropdown hover">
	            	<a href="/">Home</a>
	            	<ul class="dropdown-menu hover">
		                <li><a href="/contact">Contact</a></li>
		                <li><a href="/about">About</a></li>
		                <li><a href="/product-category/accessories/">Accessories</a></li>
		                <li><a href="/weddings/">Weddings</a></li>
              		</ul>
	            	</li>
		            <li class="dropdown hover">
		              	<a href="/why-woodies/">Why Woodies</a>
		              	<ul class="dropdown-menu hover">
		                	<li><a href="/why-woodies/#craftmanship">Craftmanship</a></li>
		                	<li><a href="/why-woodies/#guarantee">Our Guarantee</a></li>
		                	<li><a href="/why-woodies/#giving-back">Giving Back</a></li>
		                	<li><a href="/why-woodies/#about-us">About Us</a></li>
		                	<li><a href="/#press">In the Press</a></li>
		              	</ul>
		            </li>
            		<li class="threed-measurements"><a href="/body-labs/">Mens ware</a></li>
          		</ul>
          		
          		<a class="navbar-brand brand-logo" href="/">indraw</a>
          

          	<ul class="nav navbar-nav navbar-right">

                <li><a href="{% url 'contact' %}">Contact</a></li>
		        {% if request.user.is_authenticated %}
		        <li><a href="{% url 'auth_logout' %}" rel="leanModal">Log-Out</a></li>
		        {% else %}              	<li class="not-logged-in-items"><a href="{% url 'registration_register' %}" rel="leanModal">Create Account</a></li>
              	{% endif %}
          	</ul>
          	{% if not request.user.is_authenticated %}
          	<form class='navbar-form navbar-right' method="POST" action='{% url "auth_login" %}' >{% csrf_token %}
          			<div  class='form-group'>
          				<input type="text" class='form-control' name="username" placeholder="Username">
          			</div>
          			<div  class='form-group'>
          				<input type="password" class='form-control' name="password" placeholder="Password">
          			</div>
          			<button type='submit' class='btn btn-primary'>Login</button>
          	</form>
          	{% endif %}
        </div>
		</div>
	</nav>
{% endblock %} 


{% block jumbotron %}
<div class="row">
				<h1>Responsive Accordion</h1>
				<div class="accordion">
				  <ul>
				    <li>
				      <div>
				        <a href="#">
				          <h2>Beach jump</h2>
				          <p>we are are Goaaaaaa</p>
				        </a>
				      </div>
				    </li>
				    <li>
				      <div>
				        <a href="#">
				          <h2>Nature</h2>
				          <p>We love nature and Protect also </p>
				        </a>
				      </div>
				    </li>
				    <li>
				      <div>
				        <a href="#">
				          <h2>Awesome beach</h2>
				          <p>I think............</p>
				        </a>
				      </div>
				    </li>
				    <li>
				      <div>
				        <a href="#">
				          <h2>Door Closed </h2>
				          <p>Do not disturb</p>
				        </a>
				      </div>
				    </li>
				    <li>
				      <div>
				        <a href="#">
				          <h2>Door Closed </h2>
				          <p>Do not disturb</p>
				        </a>
				      </div>
				    </li>
				    <li>
				      <div>
				        <a href="#">
				          <h2>indraw705</h2>
				          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				        </a>
				      </div>
				    </li>
				  </ul>
				</div>
</div>
{% endblock %} 

{% block content %}
	
	

<div class="container">
	<h1 class="color_white">{{ title }}</h1>
	<form method="POST" class="col-sm-6 col-md-3 col-md-offset-1 color_white" >{% csrf_token %}
	{{ form|crispy }}
	<input class="btn btn-default " type="submit" value='submit'/>
	</form>
	<div class="col-sm-6 col-md-offset-4 col-md-3 " style="background-color:black;min-height:200px">

	</div>
</div>	

{% endblock %} 